@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Alte Hans Grotesk";
  src: url("/fonts/AlteHaasGroteskRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Alte Hans Grotesk";
  src: url("/fonts/AlteHaasGroteskBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Base colors */
  --background: #ffffff;
  --foreground: #1e1e1e;

  /* Brand colors */
  --orange-100: #f36633;
  --orange-200: #dc4c03;

  --blue-100: #10456a;
  --blue-200: #002f50;

  --grey-100: #f7f9fa;
  --grey-200: #e1e1e1;
  --grey-300: #9997a2;
  --grey-400: #4c5861;

  /* Font families */
  --font-alte-hans: "Alte Hans Grotesk", sans-serif;
}

@theme inline {
  /* Fonts */
  --font-alte-hans: var(--font-alte-hans);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-orange-100: var(--orange-100);
  --color-orange-200: var(--orange-200);

  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);

  --color-grey-100: var(--grey-100);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Alte Hans Grotesk", sans-serif;
}

